## Python as a calculator

In [1]:
2+3

5

#### Cells in jupyter notebook make it easier to quickly prototype and view results

1. Assign results to addition to variable (a) without specifying datatype; automatically recognize value as an integer. Use `type` METHOD to find datatype of a variable:

In [2]:
a=2+3
type(a)

int

2. Create variable (b); floating point number, store results of (a) multiplied by (b) into a new variable (c);
add type(c) in print function to get datatype of (c).

In [3]:
b = 3.75
c = a*b
print(c,type(c))

18.75 <class 'float'>

3. Dividing a float with an integer will result in a float:

In [4]:
c/6

3.125

4. For only quotient part of division, use the floor division (//) operator:

In [5]:
c//6

3.0

5. For only remainder part, use the modulus (%) operator:

In [6]:
c%6

0.75

## Strings
Multiple strings can be combined into one object
6. Use addition (+) operator:

In [7]:
strA = 'Hello' + 'World!'
strA

'HelloWorld!'

7. Find length of a string, use `len` METHOD:

In [8]:
len(strA)

11

Output: string has 11 characters in it

## Index
To subset strings; To select range of characters from a string, type the starting and ending index separated by colon (:) within [] square brackets.

In [9]:
strA[3:7]

'loWo'

The desired substring is 'loWo'

There are other methods in python to work with strings.

## Making Decisions Based on Variable [Values]

Python `if` `else` statements

Example: Is year 2020 a Leap year? (1) assign **2020** to a variable called **year**. (2) Then apply `if` confidion to evaluate if a division of **year** by **4** produces a remainder. If it does, print 'Leap Year'. Otherwise (3) add an `else` condition to print 'Not a leap year'.

In [10]:
year = 2020
if year % 4 == 0:
    print('Leap year')
else:
    print('Not a leap year')

Leap year

## Loops
Adding more power to conditions are loops.

Example: Considering `if` `else` condition above, find out Leap years in the last decade. (1) `for` statement to iterates through a series of values which are passed on to the `if` `else` statements. A similar functionality can be achieved through `while` statement.

In [11]:
for yr in range(2010,2020):
    if yr % 4 == 0:
        print(yr, 'Leap year')
    else:
        print(yr, 'Not a leap year')

2010 Not a leap year
2011 Not a leap year
2012 Leap year
2013 Not a leap year
2014 Not a leap year
2015 Not a leap year
2016 Leap year
2017 Not a leap year
2018 Not a leap year
2019 Not a leap year

## About this Notebook:
The contents of this notebook are my notes from Professor Malin of the [USD MS Applied Data Science Program](https://onlinedegrees.sandiego.edu/masters-applied-data-science/)